body {
  padding: 30px 15px;
  background: #1D84C1;
  color: white;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

#name {
  font-weight: 600;
  font-size: 5em;
}

.info {
  display: block;  font-size: 1.25em;
  line-height: 1.5em;
}

a, a:hover, a:focus, a:active {
  outline: 0;
  color: white;  text-decoration: none;
}

a:hover, a:focus, a:active {
  border-bottom: solid 1px white;
}

#resume {
  display: none;
}

@media print {

  body {
    padding: 0 1em;
    width: 8.5in;
    height: 11in;
    background: #fff;    color: #222;
    text-align: left;
  }

  #site {
    display: none;
  }

  #resume {
    display: block;
  }

  #contact {
    text-align: center;
  }

  #technology h3 {
    margin-top: 1em;    margin-bottom: 0;
  }

  #contact h1 {
    margin-top: 0;
  }

  h3 {
    margin-top: 0;
  }

  p {
    margin: 0;
  }

  a {
    color: #1D84C1;
  }

  a:hover,
  a:focus,
  a:visited {
    color: #1D84C1;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  li {
    line-height: 1.2;
  }

  section {
    padding-left: 1em;
  }

  .wrapper {
    display: flex;

    justify-content: space-around;
  }
}
