html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 2rem 1rem;
  background: #9dcece;
  color: #22282f;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

#name {
  font-weight: 600;
  font-size: 5rem;
}

.info {
  display: block;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

a,
a:hover,
a:focus,
a:active {
  outline: 0;
  text-decoration: none;
  color: #22282f;
  border-bottom: solid 1px #22282f;
}

#resume {
  display: none;
}

@media print {
  body {
    padding: 0 1rem;
    width: 8.5in;
    height: 11in;
    background: #ffffff;
    color: #222222;
    text-align: left;
  }

  section {
    margin-bottom: 0.5rem;
  }

  #site {
    display: none;
  }

  #resume {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  #contact {
    text-align: center;
  }

  #technology h3 {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  #contact h1 {
    margin-top: 0;
  }

  h3 {
    margin-top: 0;
  }

  p {
    margin: 1rem 0;
    font-style: italic;
  }

  #contact p {
    font-style: normal;
  }

  a {
    color: #1d84c1;
  }

  a:hover,
  a:focus,
  a:visited {
    color: #1d84c1;
  }

  ul {
    margin: 1rem 0;
    padding: 0;
    list-style: none;
  }

  #employment ul, #non-profit ul {
    padding-left: 0.5rem;
    margin-top: -0.5rem;
  }

  li {
    line-height: 1.2;
  }

  .content {
    padding-left: 1rem;
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
  }
}
